#body {
  float: left;
  clear: both;
  width: 100%; }
  #body .notice .content {
    background-color: white;
    padding: 1em;
    border: 1px solid #d2d0d0;
    margin-top: 1em; }
  #body .content {
    box-sizing: border-box;
    width: 50%;
    margin: auto;
    margin-top: 2em; }
    #body .content .login-item {
      box-sizing: border-box;
      background-color: white;
      border-radius: 3px;
      border: 1px solid #d2d0d0;
      padding: 0.5em;
      display: inline-block;
      text-align: center; }
      @media (min-width: 600px) {
        #body .content .login-item {
          width: 49%; } }
      @media (max-width: 600px) {
        #body .content .login-item {
          width: 90%;
          margin: auto; } }
    #body .content .facebook {
      color: blue; }
    #body .content .google {
      color: red; }
    #body .content .hidden {
      display: none; }
    #body .content .note {
      margin: auto;
      width: 70%;
      margin-top: 1em;
      text-align: center; }
    @media (min-width: 700px) {
      #body .content {
        /*margin-top: 3em;*/ } }

a {
  text-decoration: none;
  color: inherit; }

/*# sourceMappingURL=purpleThemeLogin.css.map */
