#status {
  margin-bottom: 0.5em;
  padding: 0.5em;
  background-color: yellow;
  border: 1px solid #ccc; }

#body {
  width: 72%;
  margin: auto;
  margin-top: 1em; }
  #body a {
    color: inherit;
    text-decoration: none; }
  #body textarea, #body input {
    font-family: Raleway; }
  #body .questions {
    padding: 0.5em;
    border: 1px solid #ccc;
    background-color: white; }
    #body .questions .question {
      width: 100%;
      margin-bottom: 0.5em; }
      #body .questions .question .text {
        display: inline-block;
        width: 30%;
        vertical-align: top;
        color: purple;
        /*background-color: red;*/ }
      #body .questions .question .input {
        display: inline-block;
        width: 50%; }
      #body .questions .question .input input, #body .questions .question .input textarea {
        width: 100%;
        padding: 0.2em 0.2em;
        border: 1px solid #000; }
      #body .questions .question .input textarea {
        height: 6em; }
    #body .questions .submit {
      text-align: center; }
      #body .questions .submit .button {
        display: inline-block;
        background-color: purple;
        color: white;
        border: 1px solid white;
        padding: 0.3em; }
        #body .questions .submit .button input {
          background-color: inherit;
          color: inherit;
          border: none;
          cursor: pointer; }
  #body .back {
    text-decoration: none;
    margin-top: 0.5em;
    padding: 0.5em 0.2em;
    background-color: purple;
    color: white;
    display: inline-block; }

/*# sourceMappingURL=purpleThemeMaintenanceEditItem.css.map */
