.edit-left, .edit-right {
  margin-top: 0.5em;
  display: inline-block;
  float: left;
  background-color: white;
  border: 1px solid #bbb; }

.heading {
  position: relative;
  padding: 0.5em; }
  .heading .bg {
    background-color: purple;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 1; }
  .heading .content {
    position: relative;
    font-size: 1.3em;
    color: white;
    z-index: 2;
    text-align: center;
    width: 60%;
    margin: auto; }

#body .content {
  width: 85%;
  margin: auto; }
  #body .content .edit-left {
    width: 30%;
    padding: 0.6em 1em; }
    #body .content .edit-left .topic {
      text-align: center;
      text-decoration: underline;
      color: purple; }
    #body .content .edit-left a {
      color: inherit;
      text-decoration: none; }
      #body .content .edit-left a:hover {
        text-decoration: underline; }
    #body .content .edit-left .list-item {
      border-bottom: 1px solid black;
      padding: 0.2em 0.3em; }
      #body .content .edit-left .list-item:hover {
        background-color: purple;
        color: white; }
      #body .content .edit-left .list-item .bolden {
        font-weight: bold; }
  #body .content .edit-right {
    width: 60%;
    margin-left: 2%; }
    #body .content .edit-right .content {
      width: 100%; }
    #body .content .edit-right .section {
      padding: 0.5em; }
    #body .content .edit-right .top {
      background-color: purple;
      color: white; }
    #body .content .edit-right .input-field {
      margin-bottom: 0.6em;
      width: 100%; }
      #body .content .edit-right .input-field > div {
        display: inline-block;
        box-sizing: border-box; }
      #body .content .edit-right .input-field .title {
        width: 30%;
        float: left;
        clear: both; }
        @media (max-width: 700px) {
          #body .content .edit-right .input-field .title {
            clear: both;
            width: 100%; } }
      #body .content .edit-right .input-field .input {
        clear: right;
        width: 95%; }
        @media (min-width: 700px) {
          #body .content .edit-right .input-field .input {
            margin-left: 1em;
            width: 60%; } }
        #body .content .edit-right .input-field .input input {
          border: 1px solid black;
          padding: 0.2em;
          font-family: inherit;
          color: black;
          width: 100%; }
      #body .content .edit-right .input-field textarea {
        border: 1px solid black;
        padding: 0.2em;
        font-family: inherit;
        color: black;
        width: 100%; }
    #body .content .edit-right .experience {
      padding: 0.5em 0em; }
    #body .content .edit-right .input-field.submit {
      /*background-color: yellow;*/ }
      #body .content .edit-right .input-field.submit .input {
        background-color: purple;
        color: white;
        width: 50%;
        margin-left: 25%; }
      #body .content .edit-right .input-field.submit input {
        background-color: purple;
        color: white;
        cursor: pointer; }

/*# sourceMappingURL=purpleThemeEditItem.css.map */
