body, html {
  background-color: white; }

#body {
  margin: auto; }
  #body .content {
    width: 72%;
    margin: auto; }

.company-left {
  width: 100%;
  border: 1px solid #c1c1c1;
  color: white;
  border-style: none solid solid solid;
  /*padding: 1.5em 0;*/
  box-sizing: border-box;
  z-index: 2;
  position: relative; }
  .company-left .co-background {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0em;
    /*        background-image: url('/bin/images/industry.jpeg');
            background-size: contain;
            background-position: 50% 50%;*/
    background: radial-gradient(circle, #b300b3, #ffb3ff);
    /*background-color: lighten($bg1, 10);*/
    z-index: 1; }
  .company-left > div {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    position: relative;
    z-index: 2; }
    .company-left > div .desc-item {
      padding: 0.5em 0em;
      text-align: center; }
      .company-left > div .desc-item > div {
        display: inline-block;
        /*font-size: 0.95rem;*/ }
      .company-left > div .desc-item.name {
        /*                color: white;
                        background-color: $bg1;*/ }
        .company-left > div .desc-item.name .text {
          font-size: 1.4em;
          text-transform: uppercase; }
      .company-left > div .desc-item .text {
        font-weight: bold;
        font-size: inherit; }

.company-right {
  box-sizing: border-box;
  background-color: white;
  border: 1px solid #ccc;
  border-style: none;
  /*border-bottom-style: solid;*/
  padding: 0.5em;
  padding-top: 1.5em; }
  .company-right .experience-item {
    border-bottom: 1px solid purple;
    margin-bottom: 1em;
    padding-bottom: 0.7em; }
    .company-right .experience-item:nth-last-child {
      border-bottom-style: none; }
    .company-right .experience-item .topic {
      text-align: center;
      color: purple;
      font-weight: bold;
      text-decoration: underline; }
    .company-right .experience-item .skills {
      /*background-color: transparentize($bg1, 0.8);*/
      padding: 0.2em 0em;
      border-radius: 3px;
      margin-bottom: 0em;
      /*            text-align: center;*/ }
    .company-right .experience-item .skill-topic, .company-right .experience-item .message-topic {
      color: purple;
      text-align: left;
      font-size: 1.1em;
      margin-right: 0.5em;
      /*text-transform: uppercase;*/
      display: inline-block;
      /*            visibility: hidden;
                  display: none;*/
      vertical-align: top;
      /*font-weight: bold;*/
      text-decoration: underline; }
    .company-right .experience-item .skill-body {
      display: inline-block; }
      .company-right .experience-item .skill-body > div {
        /*display: inline-block;*/
        /*                background-color: $bg1;
                        color: white;*/
        /*padding: 0em 0.2em;*/
        /*border-radius: 3px;*/
        /*border: 1px solid lighten($bg1,10);*/
        /*margin-top: 0.1em;*/ }
    .company-right .experience-item .message {
      text-align: left; }
      .company-right .experience-item .message .message-topic, .company-right .experience-item .message .message-body {
        display: inline-block; }

/*# sourceMappingURL=purpleThemeCourseItem.css.map */
