.purple {
  color: purple; }

#body {
  margin: auto; }
  #body .content {
    width: 72%;
    margin: auto; }
  #body .courseItem {
    float: left;
    width: 100%;
    clear: both; }
  #body .pre-text {
    text-align: center;
    margin: 1em 0em;
    border: 1px solid #bfbfbf;
    background-color: white;
    padding: 1em; }
  #body .advertising-no-companies {
    background-color: white;
    color: purple;
    text-align: center;
    border: 1px solid #bfbfbf;
    padding: 1em;
    margin-top: 1em; }
  #body .table-data {
    background-color: white;
    border: 1px solid #bfbfbf;
    padding: 0.5em; }
    #body .table-data table {
      width: 100%; }
    #body .table-data th {
      width: 50%;
      background-color: white; }
    #body .table-data.companies th {
      width: 33%; }
    #body .table-data tr {
      text-align: center;
      background-color: #f1e4f1; }
      #body .table-data tr td {
        padding: 0.3em; }
        #body .table-data tr td a {
          text-decoration: none;
          color: inherit; }
          #body .table-data tr td a:hover {
            text-decoration: underline; }
      #body .table-data tr:nth-child(even) {
        background-color: #d6b2d6; }
    #body .table-data .hide-pay td:nth-child(3) {
      display: none; }
    #body .table-data .hide-pay th:nth-child(3) {
      display: none; }

/*# sourceMappingURL=purpleThemeCourses.css.map */
