@font-face {
  font-family: RalewayRegular;
  src: url("/bin/fonts/Raleway/Raleway-Regular.ttf"); }
@font-face {
  font-family: RalewayBold;
  src: url("/bin/fonts/Raleway/Raleway-Bold.ttf"); }
@font-face {
  font-family: RalewayMedium;
  src: url("/bin/fonts/Raleway/Raleway-Medium.ttf"); }
@font-face {
  font-family: RalewayRegular;
  src: url("/bin/fonts/Raleway/Raleway-Regular.ttf"); }
.hidden {
  display: none; }

body, html {
  margin: 0px;
  background-color: #E2E2E2;
  font-family: RalewayRegular; }

#navigation {
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #c9c9c9; }
  #navigation .menu-area {
    margin: auto;
    clear: both;
    width: 90%;
    padding: 0.5em; }
  #navigation .content {
    width: 80%;
    margin: auto; }
    @media (max-width: 700px) {
      #navigation .content {
        width: 90%; } }
  #navigation .branding {
    margin-right: 10%;
    display: inline-block; }
    #navigation .branding a {
      color: inherit;
      text-decoration: none; }
    #navigation .branding a:hover {
      text-decoration: underline;
      background-color: transparent; }
    @media (max-width: 500px) {
      #navigation .branding {
        margin-bottom: 0.7em;
        margin-right: 0%; } }
  @media (max-width: 600px) {
    #navigation .menu {
      clear: both; } }
  @media (min-width: 600px) {
    #navigation .menu {
      display: inline-block; } }
  #navigation .menu .menu-item {
    text-transform: uppercase;
    display: inline-block;
    color: purple;
    margin-right: 0.5em;
    margin-bottom: 0.3em;
    font-size: 0.9rem;
    padding: 0.2em 0.4em;
    text-decoration: none;
    border-bottom: 1px solid purple; }
    @media (max-width: 600px) {
      #navigation .menu .menu-item {
        display: block; } }
    #navigation .menu .menu-item:hover {
      background-color: rgba(128, 0, 128, 0.6);
      color: white;
      transition: color 0.3s; }

/*# sourceMappingURL=purpleThemeOther.css.map */
