html, body {
  font-size: 16px; }

.content {
  width: 90%; }

#body {
  width: 72%;
  margin: auto; }
  #body #tabs {
    background-color: white;
    padding: 0.5em;
    border: 1px solid #ccc;
    margin: 0.5em 0em; }
  #body .message {
    margin: 0.5em 0em;
    padding: 0.5em 0.3em;
    background-color: yellow;
    border: 1px solid #ccc;
    text-align: center; }
  #body .page {
    display: none;
    border: 1px solid #ccc;
    background-color: white;
    padding: 0.5em; }
    #body .page.nohide {
      display: block; }
  #body #uploadItems > * {
    margin-bottom: 0.5em; }
  #body #uploadItems input {
    /*background-color: white;*/ }

#modalCourse, #modalCompany {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  /*height: 100%;*/
  background-color: rgba(0, 0, 0, 0.5); }
  #modalCourse .inner, #modalCompany .inner {
    width: 50%;
    margin: auto;
    margin-top: 5em;
    background-color: white;
    padding: 0.5em; }
  #modalCourse .text, #modalCompany .text {
    color: purple;
    margin-bottom: 0.3em; }
  #modalCourse .item, #modalCompany .item {
    margin-bottom: 1em; }
  #modalCourse input, #modalCompany input {
    width: 70%;
    border: 1px solid #ccc;
    padding: 0.3em;
    background-color: purple;
    color: white; }
  #modalCourse input[disabled=disabled], #modalCompany input[disabled=disabled] {
    background-color: #333; }

#validateAll {
  background-color: purple;
  color: white;
  margin: 0.5em;
  display: inline-block;
  padding: 0.5em; }

.contactItem {
  background-color: #ddd;
  color: black;
  padding: 0.3em 0.5em;
  margin: 0.5em 0em;
  border: 1px solid #bbb;
  transition: all 0.3s; }
  .contactItem div {
    border-bottom: 1px solid black;
    margin: 0.5em 0em; }
  .contactItem .contact-email, .contactItem .contact-datetime {
    /*width: 40%;*/
    margin-right: 3em;
    display: inline-block;
    border-bottom: none; }
  .contactItem .contact-subject {
    display: inline-block;
    width: 100%; }
  .contactItem .contact-message {
    border-bottom: none; }

/*# sourceMappingURL=purpleThemeMaintenance.css.map */
