body, html {
  background-color: white; }

#body {
  margin: auto; }
  #body .content {
    width: 72%;
    margin: auto; }

.company-left {
  width: 100%;
  border: 1px solid #c1c1c1;
  color: white;
  border-style: none solid solid solid;
  /*padding: 1.5em 0;*/
  box-sizing: border-box;
  z-index: 2;
  position: relative; }
  .company-left .co-background {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0em;
    /*        background-image: url('/bin/images/industry.jpeg');
            background-size: contain;
            background-position: 50% 50%;*/
    background: radial-gradient(circle, #b300b3, #ffb3ff);
    /*background-color: lighten($bg1, 10);*/
    z-index: 1; }
  .company-left > div {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    position: relative;
    z-index: 2; }
    .company-left > div .desc-item {
      padding: 0.5em 0em;
      text-align: center; }
      .company-left > div .desc-item > div {
        display: inline-block;
        /*font-size: 0.95rem;*/ }
      .company-left > div .desc-item.courses ul {
        margin-top: 0.3em; }
      .company-left > div .desc-item.courses li {
        /*text-align: left;*/ }
      .company-left > div .desc-item.courses div {
        display: block; }
      .company-left > div .desc-item.name {
        /*                color: white;
                        background-color: $bg1;*/ }
        .company-left > div .desc-item.name .text {
          font-size: 1.4em;
          text-transform: uppercase; }
      .company-left > div .desc-item .text {
        font-weight: bold;
        font-size: inherit; }

#blog {
  padding: 1em;
  margin: 1em 0em;
  border: 1px solid black;
  border-style: none solid; }

.topic {
  /*text-transform: uppercase;*/
  text-decoration: underline;
  color: purple;
  font-size: 1.1em; }

/*# sourceMappingURL=purpleThemeAdItem.css.map */
