@font-face {
  font-family: RalewayRegular;
  src: url("/bin/fonts/Raleway/Raleway-Regular.ttf"); }
@font-face {
  font-family: RalewayBold;
  src: url("/bin/fonts/Raleway/Raleway-Bold.ttf"); }
@font-face {
  font-family: RalewayMedium;
  src: url("/bin/fonts/Raleway/Raleway-Medium.ttf"); }
@font-face {
  font-family: RalewayRegular;
  src: url("/bin/fonts/Raleway/Raleway-Regular.ttf"); }
html, body {
  width: 100%;
  margin: 0px;
  /*height: 200%;*/
  font-family: RalewayRegular;
  padding-bottom: 1em;
  font-size: 14px; }

body {
  background-color: #F3F3F3; }

.content {
  margin: auto; }
  @media (max-width: 770px) {
    .content {
      width: 90%; } }
  @media (min-width: 770px) {
    .content {
      width: 90%; } }
  @media (min-width: 1000px) {
    .content {
      width: 80%; } }

.br {
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: white; }

a {
  text-decoration: none;
  color: inherit; }

#navigation {
  color: white;
  position: relative;
  background-color: rgba(128, 0, 128, 0.6); }
  #navigation .background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("/bin/images/jumbobg2.jpeg");
    background-size: cover;
    background-position: 50% 50%;
    z-index: -1;
    /*opacity: 0.5;*/ }
  #navigation a:hover {
    background-color: rgba(255, 255, 255, 0.95);
    color: purple; }
  #navigation .content .menu-area {
    /*float: left;*/
    clear: both;
    padding-top: 1em; }
    #navigation .content .menu-area .branding a {
      background: transparent;
      color: white; }
    @media (min-width: 550px) {
      #navigation .content .menu-area .branding {
        float: left; } }
    @media (max-width: 550px) {
      #navigation .content .menu-area .branding {
        margin-bottom: 1em; } }
    #navigation .content .menu-area .menu {
      /*margin-left: 30%;*/ }
      @media (min-width: 550px) {
        #navigation .content .menu-area .menu {
          float: right; } }
      #navigation .content .menu-area .menu .menu-item {
        margin-left: 3px;
        padding: 3px 6px;
        text-transform: uppercase;
        transition: all 0.3s; }
        @media (min-width: 550px) {
          #navigation .content .menu-area .menu .menu-item {
            display: inline-block; } }
        @media (max-width: 550px) {
          #navigation .content .menu-area .menu .menu-item {
            display: block;
            margin-bottom: 0.3em;
            border-radius: 0px; } }
  #navigation .content .jumbo-area {
    clear: both;
    width: 50%;
    margin: auto;
    padding: 1em;
    padding-bottom: 2em;
    text-align: center;
    font-size: 1.3em; }
    #navigation .content .jumbo-area .error {
      background-color: rgba(255, 255, 0, 0.95);
      color: black;
      padding: 0.5em;
      font-size: 0.75em; }

#new-form {
  background-color: white;
  box-sizing: border-box;
  border: 1px solid #cdcdcd;
  padding-left: 1em;
  padding-right: 1em; }
  @media (max-width: 770px) {
    #new-form {
      width: 90%;
      margin: auto;
      margin-top: 1em; } }
  @media (min-width: 770px) {
    #new-form {
      float: right;
      width: 23.5%;
      position: absolute;
      overflow: auto;
      right: 10%;
      margin-top: -10px;
      /*top: 0em;*/
      /*bottom: 0.3em;*/ } }
  #new-form .form {
    margin: 0.5em; }
    #new-form .form .heading {
      text-align: center;
      color: gray;
      margin-bottom: 0.5em;
      font-size: 1.1em;
      /*text-decoration: underline;*/ }
    #new-form .form .questions .question {
      margin-bottom: 0.9em; }
      #new-form .form .questions .question .text {
        color: purple;
        line-height: 170%; }
      #new-form .form .questions .question .input textarea, #new-form .form .questions .question .input input {
        border: 1px solid black;
        padding: 0.2em;
        color: gray;
        border-radius: 1px;
        width: 100%;
        font-family: Raleway; }
      #new-form .form .questions .question.pay .text, #new-form .form .questions .question.pay .input, #new-form .form .questions .question.captcha .text, #new-form .form .questions .question.captcha .input {
        display: inline-block; }
      #new-form .form .questions .question.pay .text {
        width: 50%; }
      #new-form .form .questions .question.captcha .input {
        width: 40%; }
    #new-form .form .button {
      display: inline-block;
      background-color: purple;
      color: white;
      border-radius: 3px;
      border: 1px solid purple;
      padding: 0.1em 0.4em;
      margin: auto; }
      #new-form .form .button input {
        color: inherit;
        background-color: inherit;
        border: none; }

@media (min-width: 770px) {
  #body .section {
    width: 70%;
    float: left; } }
@media (max-width: 770px) {
  #body .section {
    width: 100%; } }
#body .section .heading {
  padding: 0.5em 0em;
  font-size: 1.3em; }
  #body .section .heading .link {
    font-size: 1rem;
    color: purple; }
#body .section .no-look {
  display: none; }
#body .section.company-list .list {
  box-sizing: border-box;
  padding: 1em 0em; }
  @media (min-width: 770px) {
    #body .section.company-list .list .list-item.center {
      margin: 0em 2%; } }
  #body .section.company-list .list .list-item {
    text-decoration: none;
    color: inherit;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    padding: 0.5em;
    border: 1px solid #DCDCDC;
    background-color: white; }
    @media (min-width: 770px) {
      #body .section.company-list .list .list-item {
        width: 30%; } }
    @media (max-width: 770px) {
      #body .section.company-list .list .list-item {
        margin: 0.3em 0em;
        width: 100%; } }
    #body .section.company-list .list .list-item .hover-image {
      /*display:none;*/
      visibility: hidden;
      position: absolute;
      z-index: 2; }
    #body .section.company-list .list .list-item:hover {
      /*background-color: $bg1;*/
      /*color: white;*/
      /*background-color: lighten($bg1,73);*/
      /*transition: background-color 0.3s;*/
      border: 1px solid white;
      /*box-shadow: 0px 0px 0px 2px #ddd;*/
      /*                .title{
                          color: white;
                          transition: all 0.3s;
                      }*/ }
      #body .section.company-list .list .list-item:hover .hover-image {
        background-color: rgba(128, 0, 128, 0.85);
        transition-duration: 0.3s;
        transition-property: visibility, background-color;
        display: block;
        color: white;
        visibility: visible;
        /*width: 100%;*/
        /*height: 100%;*/
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        padding-top: 50%;
        padding-left: 40%; }
        @media (max-width: 700px) {
          #body .section.company-list .list .list-item:hover .hover-image {
            padding-top: 20%; } }
        #body .section.company-list .list .list-item:hover .hover-image > div {
          width: 20%;
          text-align: center; }
      #body .section.company-list .list .list-item:hover .co-image {
        color: purple;
        background-color: white;
        transition: all 0.3s; }
    #body .section.company-list .list .list-item .co-image, #body .section.company-list .list .list-item .title, #body .section.company-list .list .list-item .location {
      text-align: center;
      margin: 0.4em 0em; }
    #body .section.company-list .list .list-item .co-image {
      margin: 0.8em 0em;
      padding: 0.6em 0em;
      background-color: purple;
      color: white; }
    #body .section.company-list .list .list-item .title {
      color: purple;
      height: 3em;
      overflow: auto; }
    #body .section.company-list .list .list-item .location {
      height: 3em;
      overflow: auto;
      border-bottom: 1px solid black; }
    #body .section.company-list .list .list-item .courses {
      height: 6em;
      overflow: hidden; }
      #body .section.company-list .list .list-item .courses .text {
        font-weight: bold;
        text-align: center; }
      #body .section.company-list .list .list-item .courses .course-list > div {
        background-color: white;
        color: purple;
        border: 1px solid gray;
        padding: 0.3em 0.3em;
        margin: 0.2em 0.3em;
        overflow: auto;
        font-size: 90%;
        /*float: left;*/
        /*clear: both;*/
        /*width: 100%;*/ }
        #body .section.company-list .list .list-item .courses .course-list > div .fa {
          float: left;
          height: 100%;
          display: inline-block;
          width: 8%;
          /*background-color: yellow;*/ }
        #body .section.company-list .list .list-item .courses .course-list > div .d1 {
          /*float: right;*/
          display: inline-block;
          /*background-color: red;*/
          width: 92%; }
#body .companies-looking.no-looking .no-look {
  display: block; }
  #body .companies-looking.no-looking .no-look .text {
    background-color: white;
    color: purple;
    border: 1px solid #E6E6E6;
    padding: 1em;
    margin-bottom: 1em; }
#body .companies-looking.no-looking .list {
  display: none; }
#body .contact-us {
  /*width: 80%;*/ }
  #body .contact-us .form-item {
    /*background-color: $contactBackgroundColor;*/
    /*border : 1px solid $contactBorderColor;*/
    margin-bottom: 0.3em;
    padding: 0.5em; }
    #body .contact-us .form-item .text {
      color: purple; }
    #body .contact-us .form-item .input input {
      border: 1px solid gray;
      width: 100%; }
  #body .contact-us .email, #body .contact-us .subject {
    float: left;
    width: 40%;
    margin-right: 5%; }
    @media (max-width: 750px) {
      #body .contact-us .email, #body .contact-us .subject {
        width: 90%;
        margin: auto; } }
  #body .contact-us .captcha {
    clear: both;
    width: 40%; }
    @media (max-width: 750px) {
      #body .contact-us .captcha {
        width: 90%; } }
  #body .contact-us .message {
    clear: both;
    width: 90%; }
    #body .contact-us .message textarea {
      border: 1px solid gray;
      width: 100%;
      width: 100%; }
  #body .contact-us .submit .button {
    background-color: purple;
    color: white;
    border-radius: 3px;
    border: 1px solid purple;
    padding: 0.1em 0.4em;
    margin: auto;
    display: inline-block; }
    #body .contact-us .submit .button input {
      border: none;
      background-color: inherit;
      color: inherit; }

.hidden {
  display: none; }

#maintenance {
  position: fixed;
  top: 50%;
  left: 0px;
  width: 7%;
  overflow: hidden;
  background-color: white;
  color: purple;
  border: 1px solid #ccc;
  padding: 0.3em 0.5em; }
  #maintenance:hover {
    background-color: rgba(128, 0, 128, 0.5);
    color: white; }

/*# sourceMappingURL=purpleThemeHome.css.map */
