@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("/bin/fonts/Montserrat.woff"); }
.first-element {
  margin-top: 12px; }

.body_landing_page {
  background-color: #FeFeFe;
  background-image: url("/bin/images/jumbobg3.jpeg");
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%; }

.container {
  height: 100%; }

.theme_button {
  text-transform: uppercase;
  background-color: #F8FF00;
  border: 1px solid #BBC004; }
  .theme_button:hover {
    background-color: #F3F922;
    /* Fallback Color */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F8FF00), to(#F3F922));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #F8FF00, #F3F922);
    /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(top, #F8FF00, #F3F922);
    /* FF3.6 */
    background-image: -ms-linear-gradient(top, #F8FF00, #F3F922);
    /* IE10 */
    background-image: -o-linear-gradient(top, #F8FF00, #F3F922);
    /* Opera 11.10+ */
    background-image: linear-gradient(top, #F8FF00, #F3F922);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#F8FF00', EndColorStr='#F3F922'); }

#footer {
  text-align: center; }

.container.login-page, .container.thanks {
  margin-top: 2em; }
  .container.login-page .social-logins, .container.thanks .social-logins {
    padding: 1em 2.5em;
    text-align: center; }
    .container.login-page .social-logins .login-google, .container.login-page .social-logins .login-facebook, .container.thanks .social-logins .login-google, .container.thanks .social-logins .login-facebook {
      color: white; }
      .container.login-page .social-logins .login-google img, .container.login-page .social-logins .login-facebook img, .container.thanks .social-logins .login-google img, .container.thanks .social-logins .login-facebook img {
        padding-right: 5px; }
      .container.login-page .social-logins .login-google:hover, .container.login-page .social-logins .login-facebook:hover, .container.thanks .social-logins .login-google:hover, .container.thanks .social-logins .login-facebook:hover {
        color: white; }
    .container.login-page .social-logins .login-google, .container.thanks .social-logins .login-google {
      background-color: #cc3b29; }
      .container.login-page .social-logins .login-google:hover, .container.thanks .social-logins .login-google:hover {
        background-color: #dd4b37; }
    .container.login-page .social-logins .login-facebook, .container.thanks .social-logins .login-facebook {
      background-color: #5578C1; }
      .container.login-page .social-logins .login-facebook:hover, .container.thanks .social-logins .login-facebook:hover {
        background-color: #6287d3; }
  .container.login-page .login-custom, .container.thanks .login-custom {
    background-color: #389607;
    color: white; }

.login-custom {
  background-color: #389607;
  color: white; }
  .login-custom:hover {
    background-color: #DCFFC9; }

.userdata-course-name {
  margin-bottom: 0.5em; }

.label-brown {
  background-color: #B7521E; }

#summary {
  background-color: #FFE4AC;
  border-radius: 5px;
  border: 1px solid #FFE4AC;
  text-align: center;
  margin: 0em 0em 1em 0em;
  padding: 1em; }
  #summary #company {
    padding: 4px; }
    #summary #company > div {
      padding: 8px;
      border-bottom: 1px dashed white; }
    #summary #company .pay, #summary #company .name {
      font-weight: bold; }
    #summary #company .location, #summary #company .nature {
      color: #575757; }
  #summary #user {
    padding: 1px; }
    #summary #user .summary {
      font-weight: bold;
      margin-bottom: 3px; }

#entries .entry {
  padding: 0.5em 0em;
  border: 1px solid #FFE4AC;
  background-color: #fff6e4; }
  #entries .entry hr {
    color: #FFE4AC;
    background-color: #ffd379; }
  #entries .entry .title {
    text-decoration: underline;
    color: #B7521E;
    text-align: center; }
  #entries .entry .item {
    margin-bottom: 0.5em; }
    @media (max-width: 777px) {
      #entries .entry .item {
        text-align: center; } }
  #entries .entry .collapse .item {
    margin-bottom: 0em; }
#entries > div .field_name {
  font-weight: bold;
  margin-bottom: 1em; }

#submit_form .progress-bar.progress-bar-one {
  background-color: #389607; }
#submit_form .progress-bar.progress-bar-two {
  background-color: #E4B04A; }
#submit_form .progress-bar.progress-bar-three {
  background-color: #B7521E; }

.label.label-logged-in {
  background-color: #389607; }

.alert.alert-login {
  background-color: #EFE0B9; }

.btn.btn-next-survey-page, .btn-brown {
  background-color: #B7521E;
  color: #EFE0B9; }
  .btn.btn-next-survey-page:hover, .btn-brown:hover {
    color: white; }

.form-control:focus {
  border-color: #E4B04A;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px #E4B04A; }

.color-brown {
  color: #B7521E; }

a {
  color: #B7521E; }
  a:hover {
    color: #7A3714; }

table tr.good-pay {
  background-color: #cdfed4; }
table tr.bad-pay {
  background-color: #f8e7df; }

.table-hover > tbody > tr:hover {
  background-color: #f4e9ce; }
.table-hover > tbody tr.good-pay:hover {
  background-color: #9bfda9; }
.table-hover > tbody tr.bad-pay:hover {
  background-color: #ebbfa9; }

.breadcrumb {
  background-color: #EFE0B9;
  margin-top: 10px; }

.navbar.navbar-default {
  margin-bottom: 0px;
  box-shadow: #E4B04A 0px 0px 10px 0px;
  background-color: #FFF7AF;
  border-bottom-color: #643B0F; }
  @media (max-width: 777px) {
    .navbar.navbar-default {
      text-align: center; } }
  .navbar.navbar-default .navbar-brand {
    background-color: #B7521E;
    color: white; }
  .navbar.navbar-default .navbar-nav > .open > a, .navbar.navbar-default .active > a {
    background-color: #EFE0B9;
    color: #000; }
  .navbar.navbar-default .active > a:hover {
    background-color: #B7521E;
    color: white; }
  .navbar.navbar-default .dropdown-menu > li > a:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: white; }
  .navbar.navbar-default.navbar-fixed-top.landing-page {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    box-shadow: none;
    border-bottom: white; }
    @media (max-width: 777px) {
      .navbar.navbar-default.navbar-fixed-top.landing-page {
        background-color: rgba(0, 0, 0, 0.95); } }
    .navbar.navbar-default.navbar-fixed-top.landing-page .navbar-brand {
      background-color: transparent;
      color: white; }
    .navbar.navbar-default.navbar-fixed-top.landing-page .navbar-nav > .open > a, .navbar.navbar-default.navbar-fixed-top.landing-page .navbar-nav .active > a {
      background-color: white;
      color: black; }
    .navbar.navbar-default.navbar-fixed-top.landing-page .navbar-nav > .open > a:hover, .navbar.navbar-default.navbar-fixed-top.landing-page .navbar-nav .active > a:hover {
      background-color: black;
      color: white; }
    .navbar.navbar-default.navbar-fixed-top.landing-page .navbar-nav > li > a {
      color: white; }
      .navbar.navbar-default.navbar-fixed-top.landing-page .navbar-nav > li > a:hover {
        color: black;
        background-color: white; }

.landing-page.jumbo {
  background-image: url("/bin/images/nature.jpeg");
  background-size: cover;
  background-position: 50% 50%;
  color: white;
  text-align: center;
  padding: 10em 0em; }
  .landing-page.jumbo .row {
    position: relative; }
    .landing-page.jumbo .row .bg {
      position: absolute;
      top: 0em;
      background-color: #000;
      opacity: 0;
      height: 100%;
      z-index: 1;
      border-radius: 3px; }
    .landing-page.jumbo .row .text {
      position: relative;
      z-index: 2;
      padding: 0em 1em; }

section.landing-page {
  padding: 6% 0em;
  text-align: center; }
  section.landing-page h2 {
    margin-bottom: 1em; }
  @media (max-width: 777px) {
    section.landing-page .item {
      margin-bottom: 1em; } }
  section.landing-page .item .topic {
    padding: 10px 0px;
    font-weight: bold; }
  section.landing-page .item .img img {
    max-width: 40%;
    margin: 2% auto; }
  section.landing-page .item .text {
    height: 3.5em;
    padding: 0px 1em; }
  section.landing-page .item .visit {
    margin-top: 2.5%; }
    section.landing-page .item .visit a {
      padding: 2px 15px; }
      section.landing-page .item .visit a:hover {
        text-decoration: none; }
  section.landing-page.basic-navigation {
    padding: 8% 0em;
    background-color: white; }
  section.landing-page.privacy {
    background-color: transparent;
    background-color: rgba(77, 77, 77, 0.9);
    color: white; }
    section.landing-page.privacy .jumbotron {
      background-color: transparent; }
    section.landing-page.privacy .blockquote-reverse {
      border-right-color: #eba683; }
  section.landing-page.contact-us {
    padding: 8% 0em;
    background-color: rgba(226, 234, 70, 0.94);
    background-color: gray;
    color: white; }

.modal-content .modal-header {
  text-align: center;
  background-color: #D9CD3F; }
.modal-content .modal-body {
  background-color: #FFFAC9; }

#footer.footer_landing_page {
  padding-top: 3%;
  background-color: gray;
  color: white; }

/*# sourceMappingURL=theme1.css.map */
