@font-face{
    font-family: RalewayRegular;
    src:url("/bin/fonts/Raleway/Raleway-Regular.ttf");
}

@font-face{
    font-family: RalewayBold;
    src:url("/bin/fonts/Raleway/Raleway-Bold.ttf");
}

@font-face{
    font-family: RalewayMedium;
    src:url("/bin/fonts/Raleway/Raleway-Medium.ttf");
}

@font-face{
    font-family: RalewayRegular;
    src:url("/bin/fonts/Raleway/Raleway-Regular.ttf");
}
.hidden{
    display:none;
}
body, html{
    margin: 0px;
    background-color: #E2E2E2;
    font-family: RalewayRegular;   
}
$bg1: purple;

#navigation{
    width: 100%;
    background-color: white;
    border-bottom: 1px solid darken(#E2E2E2, 10);
    .menu-area{
        margin: auto;
        clear: both;
        width: 90%;
        padding: 0.5em;
    }
    .content{
        width: 80%;
        @media( max-width: 700px){
            width: 90%;
        }
        margin: auto;
    }
    .branding{
        a{
            color: inherit;
            text-decoration: none;
        }
        a:hover{
            text-decoration: underline;
            background-color: transparent;
        }
        
        margin-right: 10%;
        display: inline-block;
        @media( max-width: 500px){
                margin-bottom: 0.7em;
                margin-right: 0%;
        }
    }
    .menu{
        @media( max-width: 600px){
            clear:both;
        }
        @media( min-width: 600px){
            display: inline-block;
        }
        .menu-item{
            text-transform: uppercase;
            display: inline-block;
            color: $bg1; 
            margin-right: 0.5em;
            margin-bottom: 0.3em;
            font-size: 0.9rem;
            padding: 0.2em 0.4em;
            text-decoration: none;
            border-bottom: 1px solid $bg1;
            @media( max-width: 600px){
                display:block;
            }
            &:hover{
                background-color: transparentize($bg1, 0.4);
                color: white;
                transition: color 0.3s;
                
            }
        }
    }
}