
#body{
    float: left;
    clear: both;
    width: 100%;
    .notice{
        .content{
            background-color: white;
            padding: 1em;
            border: 1px solid #d2d0d0;
            margin-top: 1em;
        }
    }
    .content{
        box-sizing: border-box;
        width: 50%;
        margin: auto;
        .login-item{
            box-sizing: border-box;
            @media (min-width: 600px){
                width: 49%;
            }
            @media (max-width: 600px){
                width: 90%;
                margin: auto;
            }
            background-color: white;
            border-radius: 3px;
            border: 1px solid #d2d0d0;
            padding: 0.5em;
            display: inline-block;
            text-align: center;
        }
        .facebook{
            color: blue;
        }
        .google{
            color: red;
        }
        .hidden{
            display:none;
        }
        .note{
            margin: auto;
            width: 70%;
            margin-top: 1em;
            text-align: center;
        }
        margin-top: 2em;
        @media (min-width: 700px){
            /*margin-top: 3em;*/
        }
    }
}
a{
    text-decoration: none;
    color: inherit;
}
