$bg1: purple;
@mixin input{
    border: 1px solid black;
    padding: 0.2em;
    font-family: inherit;
    color: black;
}
.edit-left, .edit-right{
    margin-top: 0.5em;
    display: inline-block;
    float: left;
    background-color: white;
    border: 1px solid #bbb;
}
.heading{
    position: relative;
    padding: 0.5em;
    .bg{
        background-color: $bg1;
        position: absolute;
        top:0px;
        left:0px;
        height:100%;
        width: 100%;
        z-index:1;
    }
    .content{
        position: relative;
        font-size: 1.3em;
        color: white;
        z-index: 2;
        text-align: center;
        width: 60%;
        margin:auto;
    }
}
#body .content{
    width: 85%;
    margin: auto;
    .edit-left{
        width: 30%;
        padding: 0.6em 1em;
        .topic{
            text-align: center;
            text-decoration: underline;
            color: $bg1;
        }
        a{
            color: inherit;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }
        .list-item{
            border-bottom: 1px solid black;
            padding: 0.2em 0.3em;
            &:hover{
                background-color: $bg1;
                color: white;
            }
            .bolden{
                font-weight:bold;
            }
        }
    }
    .edit-right{
        width: 60%;
        margin-left: 2%;
        
        .content{
            width: 100%;
        }
        .section{
            padding: 0.5em;
        }
        .top{
            background-color: $bg1;
            color: white;
        }
        .input-field{
            margin-bottom: 0.6em;
            width: 100%;
            &>div{
                display: inline-block;
                box-sizing: border-box;
            }
            .title{
                width: 30%;
                float: left;
                clear: both;
                @media (max-width: 700px){
                    clear: both;
                    width: 100%;
                }
            }
            .input{
                clear: right;
                width: 95%;
                @media (min-width: 700px){
                    margin-left: 1em;
                    width: 60%;
                }
                
                input{
                    @include input;
                    width: 100%;
                }
            }
            
            textarea{
                @include input;
                width: 100%;
            }
        }
        .experience{
                padding: 0.5em 0em;
        }
        .input-field.submit{
            /*background-color: yellow;*/
            .input{
                background-color: $bg1;
                color: white;
                width: 50%;
                margin-left: 25%;
            }
            input{
                background-color: $bg1;
                color: white;
                cursor: pointer;
            }
        }
    }
}