$bg1: purple;
$navigation-bg1: transparentize($bg1, 0.4);
$body_background: #F3F3F3;

$newFormBackground: white;
$newFormBorder: darken(#E6E6E6, 10%);
$formHeadingColor: gray;
$formTextColor: $bg1;
$formInputTextColor: gray;

$listItemBackground: white;
$listItemColor: $bg1;
$listItemBorderColor: #DCDCDC;

$courseListColor: $bg1;
$courseListBGColor: lighten(white, 5);
$coImageBG: $bg1;

$noLookingColor: $bg1;
$noLookingBGColor: white;
$noLookingBorderColor: #E6E6E6;

$contactBackgroundColor: white;
$contactBorderColor: #E6E6E6;
$contactColor: $bg1;

$linkHoverColor: $bg1;

$newFormWidth: 30%;
$contentWidth: 80%;
    
$mediaWidth: 770px;

@mixin button{
    background-color: $bg1;
    color: white;
    border-radius: 3px;
    border: 1px solid $bg1;
    padding: 0.1em 0.4em;
    margin: auto;
}

@mixin input{
    border: 1px solid gray;
    width: 100%;
}

@font-face{
    font-family: RalewayRegular;
    src:url("/bin/fonts/Raleway/Raleway-Regular.ttf");
}

@font-face{
    font-family: RalewayBold;
    src:url("/bin/fonts/Raleway/Raleway-Bold.ttf");
}

@font-face{
    font-family: RalewayMedium;
    src:url("/bin/fonts/Raleway/Raleway-Medium.ttf");
}

@font-face{
    font-family: RalewayRegular;
    src:url("/bin/fonts/Raleway/Raleway-Regular.ttf");
}

html, body{
    width: 100%;
    margin: 0px;
    /*height: 200%;*/
    font-family: RalewayRegular;
    padding-bottom: 1em;
    font-size: 14px;
}

body{
    background-color: $body_background;
}

.content{
    @media (max-width: $mediaWidth){
        width: 90%;
    }
    @media (min-width: $mediaWidth){
        width: 90%;
    }
    @media (min-width: 1000px){
        width: $contentWidth;
    }
    
    margin: auto;
}

.br{
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: white;
}

a{
    text-decoration: none;
    color: inherit;
}

#navigation{
    color: white;
    position: relative;
    background-color: $navigation-bg1;
    .background{
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url('/bin/images/jumbobg2.jpeg');
        background-size: cover;
        background-position: 50% 50%;
        z-index: -1;
        /*opacity: 0.5;*/
    }
    a:hover{
        background-color: transparentize(white, 0.05);
        color: $linkHoverColor;
    }
    .content{
        .menu-area{
            /*float: left;*/
            clear: both;
            padding-top: 1em;
            .branding{
                a{
                    background: transparent;
                    color: white;
                }
                @media (min-width: 550px){
                    float: left;
                }
                @media (max-width: 550px){
                    margin-bottom: 1em;
                }
            }
            .menu{
                /*margin-left: 30%;*/
                @media (min-width: 550px){
                    float: right;
                }
                .menu-item{
                    @media (min-width: 550px){
                        display: inline-block;
                    }
                    @media (max-width: 550px){
                        display: block;
                        margin-bottom: 0.3em;   
                        border-radius: 0px;
                    }
                    margin-left: 3px;
                    padding: 3px 6px;
                    text-transform: uppercase;
                    transition: all 0.3s;
                }
            }
        }
        .jumbo-area{
            clear: both;
            width: 50%;
            margin: auto;
            padding: 1em;
            padding-bottom: 2em;
            text-align: center;
            font-size: 1.3em;
            .error{
                background-color: transparentize(lighten(yellow, 0), 0.05);
                color: black;
                padding: 0.5em;
                font-size: 0.75em;
            }
        }
    }
}

 #new-form{
    @media (max-width: $mediaWidth){
        width: 90%;
        margin: auto;
        margin-top: 1em;
    }
    @media (min-width: $mediaWidth){
        float: right;
        width: ($newFormWidth/100%)*$contentWidth - 0.5%;
        position: absolute;
        overflow: auto;
        right: (100% - $contentWidth)/2;
        margin-top: -10px;
        /*top: 0em;*/
        /*bottom: 0.3em;*/
    }
    background-color: $newFormBackground;
    box-sizing: border-box;
    border: 1px solid $newFormBorder;
    padding-left: 1em;
    padding-right: 1em;
    .form{
        margin: 0.5em;
        .heading{
            text-align: center;
            color: $formHeadingColor;
            margin-bottom: 0.5em;
            font-size: 1.1em;
            
            /*text-decoration: underline;*/
        }
        .questions{
            .question{
                .text{
                    color: $formTextColor;
                    line-height: 170%;
                }
                .input{
                    textarea, input{
                        border: 1px solid black;
                        padding: 0.2em;
                        color: $formInputTextColor;
                        border-radius: 1px;
                        width: 100%;
                        font-family: Raleway;
                    }
                }
                margin-bottom: 0.9em;
                &.pay, &.captcha{
                    .text,.input {
                       display: inline-block; 
                    }
                }
                &.pay .text{
                    width: 50%;
                }
                &.captcha{
                    .input{
                        width: 40%;
                    }
                }
            }
        }
        .button{
            display: inline-block;
            
            input{
                color: inherit;
                background-color: inherit;
                border: none;
            }
            @include button;
        }
    }
}
    
#body{
    .section{
        @media (min-width: $mediaWidth){
            width: 100% - $newFormWidth;
            float: left;
        }
        @media (max-width: $mediaWidth){
            width: 100%;
        }
        .heading{
            padding: 0.5em 0em;
            font-size: 1.3em;
            .link{
                font-size: 1rem;
                color: $bg1;
            }
            
        }
        .no-look{
            display: none;
        }
    }
    .section.company-list .list{
        box-sizing: border-box;
        padding: 1em 0em;   
        @media (min-width: $mediaWidth){
            .list-item.center{
                margin: 0em 2%;
            }
        }
        .list-item{
            text-decoration: none;
            color: inherit;
            box-sizing:  border-box;
            display: inline-block;
            position: relative;
            @media (min-width: $mediaWidth){
                width: 30%;   
            }
            @media (max-width: $mediaWidth){
                margin: 0.3em 0em; 
                width: 100%;
            }
            padding: 0.5em;
            border: 1px solid $listItemBorderColor;
            background-color: $listItemBackground;
            .hover-image{
                /*display:none;*/
                visibility: hidden;
                position:absolute;
                z-index:2;
            }
            &:hover{
                /*background-color: $bg1;*/
                /*color: white;*/
                /*background-color: lighten($bg1,73);*/
                /*transition: background-color 0.3s;*/
                border: 1px solid white; 
                /*box-shadow: 0px 0px 0px 2px #ddd;*/
                .hover-image{
                    background-color: transparentize($bg1, 0.15);
                    transition-duration: 0.3s;
                    transition-property: visibility, background-color;
                    display: block;
                    color: white;
                    visibility: visible;
                    /*width: 100%;*/
                    /*height: 100%;*/
                    top: 0px;
                    left: 0px;
                    right: 0px;
                    bottom: 0px;
                    padding-top: 50%;
                    @media (max-width: 700px){
                        padding-top: 20%;
                    }
                    padding-left:40%;
                    &>div{
                        width: 20%;
                        text-align: center;
                    }
                }
/*                .title{
                    color: white;
                    transition: all 0.3s;
                }*/
                .co-image{
                    color: $coImageBG;
                    background-color: white;
                    transition: all 0.3s;
                }
            }
            .co-image, .title, .location{
                text-align: center;
                margin: 0.4em 0em;
            }
            .co-image{
                margin: 0.8em 0em;
                padding: 0.6em 0em;
                background-color: $coImageBG;
                color: white;
            }
            .title{
                color: $listItemColor;
                height: 3em;
                overflow: auto;
            }
            .location{
                height: 3em;
                overflow: auto;
                border-bottom: 1px solid black;
            }
            .courses{
                height: 6em;
                
                overflow: hidden;
                .text{
                    font-weight:bold;
                    text-align: center;
                }
                .course-list{
                    &>div{
                        background-color: $courseListBGColor;
                        color: $courseListColor;
                        border: 1px solid gray;
                        padding: 0.3em 0.3em;
                        margin: 0.2em 0.3em;
                        overflow: auto;
                        font-size: 90%;
                        /*float: left;*/
                        /*clear: both;*/
                        /*width: 100%;*/
                        $faWidth: 8%;
                        .fa{
                            float: left;
                            height: 100%;
                            display: inline-block;
                            width: $faWidth;
                            /*background-color: yellow;*/
                        }
                        .d1{
                            /*float: right;*/
                            display: inline-block;
                            /*background-color: red;*/
                            width: 100% - $faWidth;
                        }
                        
                    }
                }
            }
        }
    }
    .companies-looking.no-looking{
        .no-look{
            display: block;
            .text{
                background-color: $noLookingBGColor;
                color: $noLookingColor;
                border: 1px solid $noLookingBorderColor;
                padding: 1em;
                margin-bottom: 1em;
            }
        }
        .list{
            display: none;
        }
    }
    
    .contact-us{
        /*width: 80%;*/
        .form-item{
            /*background-color: $contactBackgroundColor;*/
            /*border : 1px solid $contactBorderColor;*/
            margin-bottom: 0.3em;
            padding: 0.5em;
            .text{
                color: $contactColor;
            }
            .input input{
                @include input;
            }
            
        }
        .email, .subject{
            float:left;
            width: 40%;
            margin-right: 5%;
            @media (max-width: 750px){
                width: 90%;
                margin:auto;
            }
        }
        .captcha{
            clear:both;
            width: 40%;
            @media (max-width: 750px){
                width: 90%;
            }
        }
        .message{
            clear:both;
            width: 90%;
            textarea{
                @include input;
                width: 100%;
            }
        }
        .submit .button{
            @include button;
            display: inline-block;
            input{
                border: none;
                background-color: inherit;
                color: inherit;
            }
        }
    }
}
    
.hidden{
    display: none;
}

#maintenance{
    position: fixed;
    top: 50%;
    left: 0px;
    width: 7%;
    overflow: hidden;
    background-color: white;
    color: $bg1;
    border: 1px solid #ccc;
    padding: 0.3em 0.5em;
    &:hover{
        background-color: transparentize($bg1, 0.5);
        color: white;
    }
}
