$bg1: purple;
$leftWidth: 40%;
body, html{
    background-color: white;
}
#body{
    margin: auto;
    .content{
        width: 72%;
        margin: auto;
    }
}
.company-left{
    width: 100%;
    border: 1px solid #c1c1c1;
    color: white;
    border-style: none solid solid solid;
    /*padding: 1.5em 0;*/
    box-sizing: border-box;
    z-index: 2;
    position:relative;
    .co-background{
        position:absolute;
        height: 100%;
        width: 100%;
        top: 0em;
/*        background-image: url('/bin/images/industry.jpeg');
        background-size: contain;
        background-position: 50% 50%;*/
        background: radial-gradient(circle, lighten($bg1,10), lighten($bg1, 60));
        /*background-color: lighten($bg1, 10);*/
        z-index: 1;
    }
    &>div{
        background-color: transparentize(black, 0.8);
        width: 100%;
        position: relative;
        z-index: 2;
        .desc-item{
            padding: 0.5em 0em;   
            text-align: center;
            &>div{
                display: inline-block;
                /*font-size: 0.95rem;*/
            }
            &.name{
/*                color: white;
                background-color: $bg1;*/
                .text{
                    font-size: 1.4em;
                    text-transform: uppercase;
                }
            }
            .text{
                font-weight: bold;
                font-size: inherit;
            }
        }
    }
}
.company-right{
    box-sizing: border-box;
    background-color: white;
    border: 1px solid #ccc;
    border-style: none;
    /*border-bottom-style: solid;*/
    padding: 0.5em;
    padding-top: 1.5em;
    .experience-item{
        border-bottom: 1px solid $bg1;
        &:nth-last-child{
            border-bottom-style: none;
        }
        margin-bottom: 1em;
        padding-bottom: 0.7em;
        .topic{
            text-align: center;
            color: $bg1;
            font-weight: bold;
            text-decoration: underline;
        }
        .skills{
            /*background-color: transparentize($bg1, 0.8);*/
            padding: 0.2em 0em;
            border-radius: 3px;
            margin-bottom :0em;
/*            text-align: center;*/
        }
        .skill-topic, .message-topic{
            color: $bg1;
            text-align: left;
            font-size: 1.1em;
            margin-right: 0.5em;
            /*text-transform: uppercase;*/
            display: inline-block;
/*            visibility: hidden;
            display: none;*/
            vertical-align: top;
            /*font-weight: bold;*/
            text-decoration: underline;
        }
        .skill-body{
            display: inline-block;
            &>div{
                /*display: inline-block;*/
/*                background-color: $bg1;
                color: white;*/
                /*padding: 0em 0.2em;*/   
                /*border-radius: 3px;*/
                /*border: 1px solid lighten($bg1,10);*/
                /*margin-top: 0.1em;*/
            }
        }
        .message{
            text-align: left;
            .message-topic, .message-body{
                display: inline-block;
            }
        }
            
    }
}
