#status{
    margin-bottom: 0.5em;
    padding: 0.5em; 
    background-color: yellow;
    border: 1px solid #ccc;
}
#body{
    width: 72%;
    margin: auto;
    margin-top: 1em;
    a{
        color: inherit;
        text-decoration: none;
    }
    textarea, input{
        font-family: Raleway;
    }
    .questions{
        padding: 0.5em;
        border: 1px solid #ccc;
        background-color: white;
        .question{
            width: 100%;
            margin-bottom: 0.5em;
            .text{
                display: inline-block;
                width: 30%;
                vertical-align: top;
                color: purple;
                /*background-color: red;*/
            }
            .input{
                display: inline-block;
                width: 50%;
            }
            .input input, .input textarea{
                width: 100%;
                padding: 0.2em 0.2em;
                border: 1px solid #000;
            }
            .input textarea{
                height: 6em;
            }
        }
        .submit{
            text-align: center;
            .button{
                display: inline-block;
                background-color: purple;
                color: white;
                input{
                    background-color: inherit;
                    color: inherit;
                    border: none;
                    cursor: pointer;
                }
                border: 1px solid white;
                padding: 0.3em;
                
            }
        }
    }
    .back{
        text-decoration: none;
        margin-top: 0.5em;
        padding: 0.5em 0.2em;
        background-color: purple;
        color: white;
        display: inline-block;
    }
}
