html, body{
    font-size: 16px;
}
.content{
        width: 90%;
}
#body{
    width: 72%;
    margin: auto;
    
    #tabs{
        background-color: white;
        padding: 0.5em;
        border: 1px solid #ccc;
        margin: 0.5em 0em;
    }
    .message{
        margin: 0.5em 0em;
        padding: 0.5em 0.3em;
        background-color: yellow;
        border: 1px solid #ccc;
        text-align: center;
    }
    .page{
        display: none;
        border: 1px solid #ccc;
        background-color: white;
        padding: 0.5em;
        &.nohide{
            display:block;
        }
    }
    #uploadItems{
        &>*{
            margin-bottom: 0.5em;
        }
        input{
            /*background-color: white;*/
        }
    }
    
}
#modalCourse, #modalCompany{
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    /*height: 100%;*/
    background-color: transparentize(black, 0.5);
    .inner{
        width: 50%;
        margin: auto;
        margin-top: 5em;
        background-color: white;
        padding: 0.5em;
    }
    .text{
        color: purple;
        margin-bottom: 0.3em;
    }
    .item{
        margin-bottom: 1em;
    }
    input{
        width: 70%;
        border: 1px solid #ccc;
        padding: 0.3em;
        background-color: purple;
        color: white;
    }
    input[disabled=disabled]{
        background-color: #333;
    }
}
#validateAll{
    background-color: purple;
    color: white;
    margin: 0.5em;
    display: inline-block;
    padding: 0.5em;
}
.contactItem{
    background-color: #ddd;
    color: black;
    padding: 0.3em 0.5em;
    margin: 0.5em 0em;
    border: 1px solid #bbb;
    transition: all 0.3s;
    div{
        border-bottom: 1px solid black;
        margin: 0.5em 0em;
    }
    .contact-email, .contact-datetime{
        /*width: 40%;*/
        margin-right: 3em;
        display: inline-block;
        border-bottom: none;
    }
    .contact-subject{
        display: inline-block;
        width: 100%;
    }
    .contact-message{
        border-bottom: none;
    }
}