$bg1: purple;
$leftWidth: 40%;
body, html{
    background-color: white;
}
#body{
    margin: auto;
    .content{
        width: 72%;
        margin: auto;
    }
}
.company-left{
    width: 100%;
    border: 1px solid #c1c1c1;
    color: white;
    border-style: none solid solid solid;
    /*padding: 1.5em 0;*/
    box-sizing: border-box;
    z-index: 2;
    position:relative;
    .co-background{
        position:absolute;
        height: 100%;
        width: 100%;
        top: 0em;
/*        background-image: url('/bin/images/industry.jpeg');
        background-size: contain;
        background-position: 50% 50%;*/
        background: radial-gradient(circle, lighten($bg1,10), lighten($bg1, 60));
        /*background-color: lighten($bg1, 10);*/
        z-index: 1;
    }
    &>div{
        background-color: transparentize(black, 0.8);
        width: 100%;
        position: relative;
        z-index: 2;
        .desc-item{
            padding: 0.5em 0em;   
            text-align: center;
            &>div{
                display: inline-block;
                /*font-size: 0.95rem;*/
            }
            &.courses{
                ul{
                    margin-top: 0.3em;
                }
                li{
                    
                    /*text-align: left;*/
                }
                div{
                    display:block;   
                }
            }
            &.name{
/*                color: white;
                background-color: $bg1;*/
                .text{
                    font-size: 1.4em;
                    text-transform: uppercase;
                }
            }
            .text{
                font-weight: bold;
                font-size: inherit;
            }
        }
    }
}

#blog{
    padding: 1em;
    margin: 1em 0em;
    border: 1px solid black;
    border-style: none solid;
}
.topic{
    /*text-transform: uppercase;*/
    text-decoration: underline;
    color: $bg1;
    font-size: 1.1em;
}