$bg1: purple;
.purple{
    color: purple;
}

$evenBackground: darken(#e8d3e8, 10);
$oddBackground: lighten(#e8d3e8,5);
#body{
    margin: auto;
    .content{
        width: 72%;
        margin: auto;
    }
    .courseItem{
        float: left;
        width: 100%;
        clear: both;
    }
    .pre-text{
        text-align: center;
        margin: 1em 0em;
        border: 1px solid #bfbfbf;
        background-color: white;
        padding: 1em;
    }
    .advertising-no-companies{
        background-color: white;
        color: $bg1;
        text-align: center;
        border: 1px solid #bfbfbf;
        padding: 1em;
        margin-top: 1em;
    }
    .table-data{
        background-color: white;  
        border: 1px solid #bfbfbf;
        padding: 0.5em;
        table{
            width: 100%;    
        }
        th{
            width: 50%;
            background-color: white;
        }
        &.companies th{
            width: 33%;
        }
        tr{
            text-align: center;
            background-color: $oddBackground;
            td{
                padding: 0.3em; 
                a{
                    text-decoration: none;
                    color: inherit;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
            &:nth-child(even){
                background-color: $evenBackground;
            }
        }
        .hide-pay{
            td:nth-child(3){
                display:none;
            }
            th:nth-child(3){
                display:none;
            }
        }
    }
    
}