$theme_background_color: #F8FF00;
$theme_bghover_top     : #F8FF00;
$theme_bghover_bottom  : #F3F922;
$theme_boxshadow       : #BBC004;
$theme_border_color    : #BBC004;

$light_gray  : #7D7D7D;
$blue        : #261BE4;
$brown       : #FFE4AC;
$brown_darker: #E9C57B;


$yellow_chenin        : #E0D67D; // lighter yellow  
$yellow_chenin_lighter: #FFF7AF;
$yellow_chenin_lightest: #FFFAC9;
$white                : #FFFFFF;
$yellow_wasabi        : #867F27; // darker yellow
$yellow_wasabi_lighter: #D9CD3F;
$brown_potter         : #7E5B33;
$mahogany_red         : #601407;

$pine_green: #2A2C05;
$pine_green_lighter: #389607;
$pine_green_lightest: #DCFFC9;
$pine_green_lightest_2: #EDFFE3;
$brown_lightest: #EFE0B9;
$brown_lightest_2: #FFECE3;
$brown_lighter: #E4B04A;
$brown_medium: #643B0F;
$brown_red: #B7521E;
$brown_red_lighter: #B7521E;
$brown_red_lightest: #EBBFA9;
$brown_red_darker: #7A3714;

$navbar_bg          : $yellow_chenin_lighter;
$navbar_border      : $brown_medium;
$navbar_bg_activated: $brown_lightest;

$facebook_blue_top    : #6287d3;
$facebook_blue_bottom : #5578C1;
$facebook_hover_bottom: #3B5EA9;
$google_red_top       : #dd4b37;
$google_red_bottom    : #cc3b29;
$google_hover_bottom  : #A52110;


@font-face{
	font-family: "Montserrat";
	font-style: normal;
    font-weight: 700;
	src:url("/bin/fonts/Montserrat.woff");
}
@mixin linear-gradient($fromColor, $toColor) {
  background-color: $toColor; /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, $fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, $fromColor, $toColor); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, $fromColor, $toColor); /* IE10 */
  background-image:      -o-linear-gradient(top, $fromColor, $toColor); /* Opera 11.10+ */
  background-image:         linear-gradient(top, $fromColor, $toColor);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}
.first-element{
	margin-top: 12px;
}
.body_landing_page{
 	background-color: #FeFeFe;
 	background-image: url("/bin/images/jumbobg3.jpeg");
 	background-attachment: fixed;
 	background-size: cover;
 	background-position: 50% 50%;
 }
 .container{
 	height: 100%;
 }
.theme_button{
	text-transform: uppercase;
	background-color: $theme_background_color;
	border: 1px solid $theme_border_color;
	&:hover{
		@include linear-gradient($theme_bghover_top, $theme_bghover_bottom);
		// box-shadow: $theme_boxshadow 0px 3px 0px 0px;
	}
}

#footer{
	text-align: center;
}
.container.login-page, .container.thanks{
	margin-top: 2em;
	.social-logins{
		padding: 1em 2.5em;
		text-align: center;
		.login-google, .login-facebook{
			color: white;
			img{
				padding-right: 5px;
			}
			&:hover{
				color: white;
			}
		}
		.login-google{
			background-color: $google_red_bottom;
			// @include linear-gradient($google_red_top, $google_red_bottom);
			&:hover{
				background-color: $google_red_top;
				// @include linear-gradient($google_red_top, $google_hover_bottom);
			}
		}
		.login-facebook{
			background-color:$facebook_blue_bottom;
			// @include linear-gradient($facebook_blue_top, $facebook_blue_bottom);
			&:hover{
				background-color:$facebook_blue_top;
				// @include linear-gradient($facebook_blue_top, $facebook_hover_bottom);
			}
		}
	}
	.login-custom{
		background-color: $pine_green_lighter;
		color: white;
	}
}
.login-custom{
		background-color: $pine_green_lighter;
		color: white;
		&:hover{
			// color: white;
			background-color: $pine_green_lightest;
		}
	}
.userdata-course-name{
	margin-bottom: 0.5em;
}
.label-brown{
		background-color: $brown_red;
	}
#summary{	
	background-color: $brown;
	border-radius: 5px;
	border: 1px solid $brown;
	text-align: center;
	margin: 0em 0em 1em 0em;
	padding: 1em;
	#company{
		padding: 4px;
		> div{
			padding: 8px;
			border-bottom: 1px dashed lighten(white, 50%);
		}
		.pay, .name{
			font-weight: bold;
		}
		.location, .nature{
			color: darken($light_gray, 15%);
		}
	}
	#user{
		padding: 1px;
		.summary{
			font-weight: bold;
			margin-bottom: 3px;
		}
	}
}
#entries{
	.entry{
		padding: 0.5em 0em;
		border: 1px solid $brown;
		background-color: lighten($brown, 11%);
		hr{
			color: $brown;
			background-color: darken($brown, 10%);
		}
		.title{
			text-decoration: underline;
			color: $brown_red;
			text-align: center;
		}
		.item{
			@media (max-width: 777px){
				&{
					text-align: center;
				}
			}
			margin-bottom: 0.5em;
		}
		.collapse .item{
			margin-bottom: 0em;
		}
	}
	> div{
		// border-bottom: 1px solid #eee;
		.field_name{
			// display: inline-block;
			font-weight: bold;
			// border-top: 1px dashed gray;
			margin-bottom: 1em;
		}
	}
}
#submit_form{
	.progress-bar{
		&.progress-bar-one{
		background-color: $pine_green_lighter;
		}
		&.progress-bar-two{
		background-color: $brown_lighter;
		}
		&.progress-bar-three	{
		background-color: $brown_red;
		}
	}
}
.label.label-logged-in{
	background-color: $pine_green_lighter;
}
.alert.alert-login{
	background-color: $brown_lightest;
}
.btn.btn-next-survey-page, .btn-brown{
	background-color: $brown_red_lighter;
	color: $brown_lightest;
	&:hover{
		color: white;
	}
}
.form-control:focus{
	border-color: $brown_lighter;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px $brown_lighter;
}
.color-brown{
	color: $brown_red;
}
a{
	color: $brown_red;
	&:hover{
		color: $brown_red_darker;
	}
}
table tr{
	&.good-pay{
		background-color: lighten( #039618 , 60%);
	}
	&.bad-pay{
		background-color: lighten($brown_red_lightest, 13%);
	}
}
.table-hover > tbody{
	& > tr:hover{
		background-color: lighten($brown_lightest, 5%);
	}
	& tr.good-pay:hover{
		background-color: lighten( #039618 , 50%);
	}
	& tr.bad-pay:hover{
		background-color: lighten($brown_red_lightest, 0%);
	}
}
.breadcrumb{
	background-color: $brown_lightest;
	margin-top: 10px;
}
.navbar.navbar-default{
	margin-bottom: 0px;
	box-shadow: $brown_lighter 0px 0px 10px 0px;
	background-color: $navbar_bg;
	border-bottom-color: $navbar_border;
	@media (max-width: 777px){
		&{
			text-align: center;	
		}
	}
	.navbar-brand{
	       background-color: $brown_red_lighter;
	       color: white;   
	}
	.navbar-nav > .open > a, .active > a{
	       background-color: $navbar_bg_activated;
	       color: #000;
	}
	.active > a:hover{
	       background-color: $brown_red_lighter;
	       color: white;   
	}
	.dropdown-menu > li > a:hover{
		    background-color: transparentize(black,0.5);
			color: white;
	}
	&.navbar-fixed-top.landing-page{
		background-color: transparentize(black, 0.5);
		@media (max-width: 777px){
			&{
				background-color: transparentize(black, 0.05);
			}
		}
		color: white;
		box-shadow: none;
		border-bottom: opacify(white, 1);
		.navbar-brand{
	       background-color: transparent;
	       color: white;   
		}
		.navbar-nav{
			& > .open > a, .active > a{
				background-color: white;
				color: black;
			}
			& > .open > a:hover, .active > a:hover{
				background-color: black;
				color: white;
			}
			& > li{
				& > a{
					color: white;
					&:hover{
						color: black;
						background-color: white;
					}
				}
			}
		}
	}
}

.landing-page.jumbo{
	background-image: url("/bin/images/nature.jpeg");
	background-size: cover;
	background-position: 50% 50%;
	color: white;
	text-align: center;
	padding: 10em 0em;
	.row{
		position: relative;
		.bg{
			position: absolute;
			top: 0em;
			background-color: #000;
			opacity: 0;
			height: 100%;
			z-index: 1;
			border-radius: 3px;
		}
		.text{
			position: relative;
			z-index: 2;
			padding: 0em 1em;
		}
	}

}

section.landing-page{
	padding: 6% 0em;
	text-align: center;
	h2{
		margin-bottom: 1em;
	}
	.item{
		@media (max-width: 777px){
			margin-bottom: 1em;
		}
		.topic{
			padding: 10px 0px;
			font-weight: bold;
		}
		.img{
			img{
				max-width: 40%;
				margin: 2% auto;
			}
		}
		.text{
			height: 3.5em;
			padding: 0px 1em;
		}
		.visit{
			margin-top: 2.5%;
			a{
				padding: 2px 15px;
				&:hover{
					text-decoration: none;
				}
			}
		}
	}
	&.basic-navigation{
		padding: 8% 0em;
		background-color: white;
	}
	&.privacy{
		background-color: transparent;
		background-color: transparentize( lighten(black, 30%), 0.1);
		color: white;
		// text-shadow: 0px 2px black;
		.jumbotron{
			background-color: transparent;
		}
		.blockquote-reverse{
			border-right-color: lighten($brown_red , 30%);
		}
	}
	&.contact-us{
		padding: 8% 0em;
		background-color: transparentize( lighten($pine_green , 50%), 0.06);
		background-color: lighten(black , 50%);	
		color:white;
	}

}
.modal-content{
	.modal-header{
		text-align: center;
		background-color: $yellow_wasabi_lighter;
	}
	.modal-body{
		background-color: $yellow_chenin_lightest;
	}
}
#footer{
	&.footer_landing_page{	
		padding-top: 3%;
		background-color: lighten(black , 50%);	
		color:white;	
	}
}